body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.reviews {
    margin-bottom: 50px;
    text-align: center;
}

.reviews h2 {
    font-weight: 900;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.star-summary {
  float: left;
  width: 200px;
  padding: 0 0 0 30px;
}

.yellow-star {
  color: #0092d6;
}

.gray-star {
  color: #777;
  font-size: 12px;
  margin: 0 2px 0 0;
}

.paragraph-reviews {
    font-family: Lato,sans-serif;
}

.star-list-yellow {
    margin-top: 5px;
    font-size: 20px;
    padding: 0;
}

.star-list-gray {
  display: flex;
  padding: 0;
  margin: 0 0 3px 0;
}

.current-star-rating {
  font-size: 37px;
  font-weight: 700;
  line-height: 30px;
}

.current-star-rating strong {
    font-size: 37px;
    font-weight: bolder;
}

.graphs {
    max-width: 100%;
    float: left;
    padding: 0 30px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.bar-graphs {
  position: relative;
  margin-left: 15px;
  width: 140px;
}

.bar {
    background-color: #f0f0f0;
    border-radius: 1px;
    margin-left: 15px;
    width: 140px;
}

.fill {
  height: 15px;
  background-color: #0092d6;
  margin-bottom: 7px;
}

.star-list-gray li:nth-last-child(-n+2) {
    list-style: none;
}

.star-list-gray li:last-child {
    font-family: 'Open Sans',Verdana,sans-serif;
    font-size: 11.5px;
    padding-left: 5px;
}

.five {
    width: 90%;
}

.four {
    width: 7%;
}

.three {
    width: 2%;
}

.two {
    width: 0%;
}

.one {
    width: 0%;
}

.gray-star:hover .star-list-gray {
    opacity: 0.5;
}

.gray-star .star-list-gray:hover {
    opacity: 1;
}

.buttons {
    float: left;
    max-width: 100%;
    padding-left: 20px;
}

.askAQuestion , .writeAReview {
    float: left;
    margin: 0 0 0 10px;
    font-family: 'Lato', 'San-serif';
    font-size: 13px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 3px;
    border: 2px solid #000;
    color: #000;
    box-shadow: 2px 3px 5px 0 #8888886b;
    cursor: pointer;
}

.askAQuestion:hover , .writeAReview:hover {
    box-shadow: none;
}

.askAQuestion::before , .writeAReview::before {
    font-family: stamped-font,FontAwesome;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    padding-right: 8px;
    display: inline-block;
}

.askAQuestion::before {
    content: "\f0e6 ";
}

.writeAReview::before {
    content: "\f044 ";
}

@media screen and (max-width: 520px) {
    .askAQuestion , .writeAReview {
        margin: 10px 0 0 10px;
    }
}